<p id="notice"><%= notice %></p>

<p>
  <b>Image:</b>
  <%= image_tag(@page.image.url) %>
</p>

<p>
  <b>Description:</b>
  <%= @page.description %>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
